@model CHY_Project.Models.Song

@{
    ViewBag.Title = "Details";
}

<h2>Song Details</h2>

<div>
    <h4>@Html.DisplayFor(model => model.SongName)</h4>
    <hr />
    <table class="table table-bordered">
        <tr>
            <th>
                Artists
            </th>
        </tr>
        @foreach (var artist in Model.Artists)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => artist.ArtistName)
                </td>
            </tr>
        }
    </table>

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SongName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SongName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SongID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SongID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RegularPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegularPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiscountPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiscountPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Featured)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Featured)
        </dd>


    </dl>
    <table class="table table-bordered">
        <tr>
            <th>
                Genres
            </th>
        </tr>
        @foreach (var genre in Model.Genres)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => genre.GenreName)
                </td>
            </tr>
        }
    </table>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ContentID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
