@model IEnumerable<CHY_Project.Models.Song>

@{
    ViewBag.Title = "Index";
}

<h2>Songs</h2>

<h3> Displaying @ViewBag.SongCount of @ViewBag.TotalSongCount Results</h3>
<p>
@Html.ActionLink("Search Songs", "Search", null, new { @class = "btn btn-default" })
</p>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SongName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Artists.First().ArtistName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RegularPrice)
        </th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SongName)
            </td>
            @foreach (var artist in item.Artists)
            {
                <td>
                    @Html.DisplayFor(modelItem => artist.ArtistName)
               </td>

            }
            <td>
                @Html.DisplayFor(modelItem => item.RegularPrice)
            </td>



            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ContentID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ContentID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ContentID }) |
                @Html.ActionLink("Add to Cart", "AddtoCart", "Carts", new { id = item.ContentID }, null)
            </td>
        </tr>
    }
</table>