@using CHY_Project.Controllers
@model CHY_Project.Models.Song

@{
    ViewBag.Title = "Song Search";
}

<h2>Song Search</h2>

@using (Html.BeginForm("SearchResults", "Songs", FormMethod.Get))
{
    <p class="form-group">
        Song Title @Html.TextBox("NameSearchString", null, new { @class = "form-control" }) <br />
        Artist @Html.TextBox("ArtistSearchString", null, new { @class = "form-control" }) <br />
        Album @Html.TextBox("AlbumSearchString", null, new { @class = "form-control" }) <br />

        <div class="form-control">
            @Html.LabelFor(model => model.Genres, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.ListBox("SelectedGenres", (MultiSelectList)ViewBag.AllGenres, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            Sort By
            <div class="form-check">
                @Html.RadioButton("SelectedSort", SongsController.SongSort.Name, true, new { @class = "form-check-input" }) Name
            </div>
            <div class="form-check">
                @Html.RadioButton("SelectedSort", SongsController.SongSort.Artist, new { @class = "form-check-input" }) Artist
            </div>
            <div class="form-check">
                @Html.RadioButton("SelectedSort", SongsController.SongSort.Rating, new { @class = "form-check-input" }) Rating
            </div>
        </div>

            <input type="submit" value="Search" class="btn btn-default" />
            @Html.ActionLink("Show All", "Index", null, new { @class = "btn btn-default" })
</p>
}