@model IEnumerable<CHY_Project.Models.Album>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<h3> Displaying @ViewBag.AlbumCount of @ViewBag.TotalAlbumCount Results</h3>

<p>
@Html.ActionLink("Search Albums", "Search", null, new { @class = "btn btn-default" })
</p>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AlbumName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RegularPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DiscountPrice)
        </th>


        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AlbumName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegularPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiscountPrice)
            </td>


            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ContentID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ContentID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ContentID }) |
                @Html.ActionLink("Add to Cart", "AddtoCart", "Carts", new { id = item.ContentID }, null)
            </td>
        </tr>
    }

</table>