@model CHY_Project.Models.Cart
@using CHY_Project.Models

@{
    ViewBag.Title = "UserDetails";
    var m = new List<AlbumViewModel>();
    m = ViewBag.AlbumViewModel as List<AlbumViewModel>;
    var s = new List<SongViewModel>();
    s = ViewBag.SongViewModel as List<SongViewModel>;

}

<h2>UserDetails</h2>

<div>
    <h4>Cart</h4>
    <hr />
    @foreach (var item in m)
    {
        
        <table class="table-striped">
            <tr><th>Album:</th></tr>
            
                <tr>
                @foreach (var artist in item.Artists)
                {
                    <td>@Html.DisplayFor(modelItem => artist.ArtistName)</td>
                }
                </tr>
                <tr>
                <td>
                    <b>@Html.DisplayFor(modelItem => item.AlbumName)</b> 
                    | $@Html.DisplayFor(modelItem => item.DiscountPrice), usually $@Html.DisplayFor(modelItem => item.RegularPrice)
                    </td>
                    </tr>
                 <tr>
                    <td>
                    @Html.ActionLink("Details", "Details", new { id = item.id }) |
                    @Html.ActionLink("Remove from Cart", "RemoveFromCart", new { id = Html.DisplayFor(modelItem => item.id) })
                
                </td>
                </tr>
            
        @foreach (var song in item.Songs)
        {
            <tr>
                <td>@Html.DisplayFor(modelitem => song.SongName)</td>


            </tr>
        }
            </table>
    }

    <br />


        @foreach (var thing in s)
        {
            <table class="table-striped">
                <tr>
                    <th>Individual Song:</th>
                </tr>
                <tr>
                    @foreach (var songartist in thing.Artists)
                    {
                        <td>@Html.DisplayFor(modelItem => songartist.ArtistName)</td>
                    }
                </tr>
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => thing.SongName)
                    </td>
                    <td> $@Html.DisplayFor(modelItem => thing.DiscountPrice), usually $@Html.DisplayFor(modelItem => thing.RegularPrice)
                        </tr>
                <tr>
                    <td>
                        @Html.ActionLink("Details", "Details", new { id = thing.id }) |
                        @Html.ActionLink("Remove from Cart", "RemoveFromCart", new { id = Html.DisplayFor(modelItem => thing.id) })
                    </td>
                </tr>

                
            </table>
        }
    <br /><br />
    <b>SUBTOTAL: $@ViewBag.subtotal</b>
</div>

@Html.ActionLink("Proceed to Checkout","Checkout")
<br /><br />
<p>
    @Html.ActionLink("Clear All", "ClearCart") |
    @Html.ActionLink("Edit", "Edit", new { id = Model.CartID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
