@model CHY_Project.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Change your account settings</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Password:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Change your password", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }
            ]
        </dd>

        <dt>Personal Information:</dt>
        <dd>
            [
            @Html.ActionLink("Edit your personal information", "EditInfo")
            ]
        </dd>
        <dt>Purchases:</dt>
        <dd>
            [
            @Html.ActionLink("View your purchase history", "MyPurchases", "Purchases")
            ]
        </dd>
    </d1>
</div>
